# Audio and Graphics folders
Audio/
Graphics/

# Data folder, but not Data/Scripts folder
Data/*
!Data/Scripts.rxdata
!Data/Scripts/

# Files in the main project folder
Game.ini
Game.rxproj
RGSS*.dll

# Temp files

~*


/.gitignore
/Graphics/Battlers/
/Graphics/CustomBattlers/
/Graphics/CustomBattlers_backup/
/data_backup/
/PBS/pokemon.txt
/PBS/pokemon_381.txt
/PBS/pokemon_419.txt
/PBS/pokemon-all.txt
/PBS/pokemon_fr.txt
/PBS/pokemon-fr-iso.txt
/etc/
/Saves/
/Data - Copy/
/extendtext.exe
/fluidsynth.dll
/mkxp.json
/mkxp-z.exe
/Data.zip
/patch/
/build/
/bin/