# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\Charles\Documents\Games\Pokemon\InfiniteFusion\PokemonFusion\dev\dev\essentials18\infinitefusion-e18\Data\Scripts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
